.custom-link {
  color: #919191;
}

.custom-link:hover {
  color: #147587;
}

.custom-link:active:focus {
  background-color: #129cb5; /* Cambia el color de fondo del link al hacer clic o estar en foco */
  border-color: #129cb5; /* Cambia el color del borde del link al hacer clic o estar en foco */
  color: white; /* Cambia el color del texto del link al hacer clic o estar en foco */
}

.color-verde {
  color: #147587;
}

.custom-button {
  background-color: #147587; /* Cambia el color de fondo del botón */
  border-color: #147587; /* Cambia el color del borde del botón */
  color: white; /* Cambia el color del texto del botón */
}

.custom-button:hover {
  background-color: #129cb5; /* Cambia el color de fondo del botón en hover */
  border-color: #129cb5; /* Cambia el color del borde del botón en hover */
  color: white; /* Cambia el color del texto del botón en hover */
}

.custom-button:focus,
.custom-button:active,
.custom-button:active:focus {
  background-color: #129cb5; /* Cambia el color de fondo del botón al hacer clic o estar en foco */
  border-color: #129cb5; /* Cambia el color del borde del botón al hacer clic o estar en foco */
  color: white; /* Cambia el color del texto del botón al hacer clic o estar en foco */
  box-shadow: none; /* Elimina cualquier sombra de enfoque predeterminada */
  outline: none; /* Elimina cualquier contorno de enfoque predeterminado */
}

.custom-button:disabled {
  background-color: gray; /* Cambia el color de fondo del botón desactivado */
  border-color: gray; /* Cambia el color del borde del botón desactivado */
  color: white; /* Cambia el color del texto del botón desactivado */
}

.custom-button-create {
  margin-top: 150px;
}

.container-create {
  margin-top: -100px;
}

/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
 */
